# macOS
.DS_Store

# VS Code
.vscode/

# AWS CLI credentials
.aws/

# CloudFormation packaged template
packaged.yaml

# Logs
*.log

# Temporary files
*.tmp
*.swp

# IDE
.idea/

# Build artifacts
*.zip
# SSH / private keys
*.pem
*.key

# Environment files
.env
.env.*
